API_KEY=your_api_key_here
BASE_URL=https://api.themoviedb.org/3/
IMAGE_BASE_URL=https://image.tmdb.org/t/p/w500
ACTOR_IMAGE_BASE_URL=https://image.tmdb.org/t/p/w185
NO_IMAGE_URL=https://sd.keepcalms.com/i-w600/keep-calm-poster-not-found.jpg
